@import "../../styles/variables/colors.scss";

.app-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: $color-ligth-blue;
  border-radius: 4px;
  border: none;
  color: $color-white;
  text-transform: uppercase;
  cursor: pointer;
  margin: 2px;
  white-space: nowrap;
  width: 100%;
  font-weight: 700;

  &__outlined {
    background-color: transparent;
    color: $color-ligth-blue;

    padding: 1px;
    margin: 1px;
    width: 30px;
    height: 30px;
  }

  &:hover {
    background: $color-dark-blue;
  }

  &:focus {
    background-color: $color-dark-gray;
    outline: 2px solid $color-white;
    outline-offset: 2px;
  }

  &:active {
    background-color: $color-dark-gray;
  }

  &__icon {
    padding: 13px 16px;
  }

  &__text {
    padding: 13px 36px;
  }
}
