<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="registration-form">
      <div>
        <div class="form__control">
          <label for="name">Name</label>
          <input type="text" id="name" placeholder="Input text" formControlName="name" />
          <span
            id="nameErrorMessage"
            class="text-danger"
            *ngIf="registrationForm.get('name')?.invalid && (registrationForm.get('name')?.touched || isSubmitted)"
          >
            <span *ngIf="registrationForm.get('name')?.errors?.['required']">Name is required.</span>
            <span *ngIf="registrationForm.get('name')?.errors?.['minlength']"
              >Name should be at least 6 characters.</span
            >
          </span>
        </div>

        <div class="form__control">
          <label for="email">Email</label>
          <input type="email" id="email" placeholder="Input text" formControlName="email" emailValidator />
          <span
            id="emailErrorMessage"
            class="text-danger"
            *ngIf="registrationForm.get('email')?.invalid && (registrationForm.get('email')?.touched || isSubmitted)"
          >
            <span *ngIf="registrationForm.get('email')?.errors?.['required']">Email is required.</span>
            <span
              *ngIf="registrationForm.get('email')?.errors?.['email'] || registrationForm.get('email')?.errors?.['emailValidator']"
              >Please enter a valid email.</span
            >
          </span>
        </div>

        <div class="form__control">
          <label for="password">Password</label>
          <div class="password-input-group">
            <input
              type="password"
              id="password"
              placeholder="Input text"
              formControlName="password"
              appAttribute
              #passwordToggle="togglePassword"
            />
            <app-button
              [iconName]="passwordToggle.eyeIcon"
              [variant]="'outlined'"
              (click)="passwordToggle.togglePasswordVisibility()"
              type="button"
            ></app-button>
          </div>
        </div>
      </div>

      <div>
        <div class="form__action">
          <app-button [buttonText]="'REGISTRATION'" type="submit"></app-button>
        </div>
        <div class="form__text">
          If you have an account you can <strong><a routerLink="/login">Login</a></strong>
        </div>
      </div>
    </div>
  </form>
</div>
