.app-root {
  max-width: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: auto;
}
