<!-- Replace ::text:: with your code -->
<h2>Create / Edit Course</h2>
<form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
  <div class="app-plate">
    <div class="course">
      <h3>Main Info</h3>
      <div class="form__control">
        <label for="title">Title</label>
        <!--Use the name `title` for the form control.-->
        <input type="text" id="title" placeholder="Input text" formControlName="title" />
        <span
          id="titleErrorMessage"
          class="text-danger"
          *ngIf="courseForm.get('title')?.invalid && (courseForm.get('title')?.touched || isSubmitted)"
          >Title is required.</span
        >
      </div>
      <div class="form__control">
        <label for="description">Description</label>
        <!--Use the name `description` for the form control.-->
        <textarea
          id="description"
          name="description"
          placeholder="Input text"
          rows="4"
          cols="5"
          formControlName="description"
        ></textarea>
        <span
          id="descriptionErrorMessage"
          class="text-danger"
          *ngIf="courseForm.get('description')?.invalid && (courseForm.get('description')?.touched || isSubmitted)"
          >Description is required.</span
        >
      </div>
      <div class="separator"></div>
      <h3>Duration</h3>
      <div class="form__control">
        <div class="course__flex course__duration">
          <!--Use the name `duration` for the form array.-->
          <input
            type="number"
            id="duration"
            placeholder="Input duration"
            formControlName="duration"
            class="course__duration__input"
          />
          <div class="course__duration__value">
            <span style="font-weight: 700">{{ courseForm.get("duration")?.value | duration }}</span>
          </div>
        </div>
        <span
          id="durationErrorMessage"
          class="text-danger"
          *ngIf="courseForm.get('duration')?.invalid && (courseForm.get('duration')?.touched || isSubmitted)"
          >Duration is required.</span
        >
      </div>
      <div class="separator"></div>
      <h3>Authors</h3>
      <div class="form__control">
        <div class="course__flex course__authors__selector">
          <!--Use the name `author` for the form control.-->
          <input type="text" id="author" placeholder="Input Author Name" formControlName="newAuthor" />
          <app-button
            class="controll-button"
            id="createAuthor"
            (click)="this.createAuthor()"
            [buttonText]="'CREATE AUTHOR'"
            [type]="'button'"
          ></app-button>
        </div>
        <span
          id="authorErrorMessage"
          *ngIf="courseForm.get('newAuthor')?.invalid && (courseForm.get('newAuthor')?.touched || isSubmitted)"
          >New author should contain only latin letters and numbers.</span
        >
        <div class="course__authors__section">
          <div class="course__authors">
            <h4>Authors List</h4>
            <!--Use the name `authors` for the form array.-->
            <ul class="course__authors__list" style="list-style: none">
              <li *ngFor="let author of courseForm.get('authors')?.value; let i = index" class="author-item">
                <span>{{ author }}</span>
                <app-button
                  [iconName]="'plus'"
                  [type]="'button'"
                  [variant]="'outlined'"
                  (click)="addAuthor(author)"
                ></app-button>
              </li>
            </ul>
          </div>
          <div class="course__authors__added">
            <h3>Course Authors</h3>
            <ng-container *ngIf="courseForm.get('courseAuthors')?.value?.length; else emptyAuthors">
              <ul>
                <li *ngFor="let author of courseForm.get('courseAuthors')?.value; let i = index">
                  {{ author }}
                  <app-button [iconName]="'trash'" [variant]="'outlined'" (click)="removeAuthor(author)"></app-button>
                </li>
              </ul>
            </ng-container>
            <ng-template #emptyAuthors>
              <span>Author list is empty</span>
            </ng-template>
          </div>
        </div>
      </div>

      <div class="form__action">
        <app-button
          [buttonText]="'cancel'"
          [type]="'button'"
          (click)="onCancel()"
          class="form__action__cancel button__small controll-button"
        ></app-button>

        <app-button
          [buttonText]="courseID ? 'update course' : 'create course'"
          class="form__action__create-course controll-button"
          [type]="'submit'"
        ></app-button>
      </div>
    </div>
  </div>
</form>
